{% extends 'polly/layout.html' %}

{% block content %}
<div class="jumbotron">
<h1 class="title">Polly</h1>
<p>Custom polls for all occasions</p>
  {% if name %}
  {% else %}
  <a  class="btn btn-default" href="#signinmodal" data-toggle="modal">Sign up</a>
  {% endif %}
</div>

<div class="container-fluid call">
  <div class="row-fluid">
    <div class="col-md-4">
      <i class="fa fa-edit fa-5x"></i>
      <h2>Create</h2>
      <p>Create your own poll</p>
    </div>
    <div class="col-md-4">
      <i class="fa fa-pie-chart fa-5x"></i>
      <h2>View</h2>
      <p>Download your results or plot them here.</p>
    </div>
    <div class="col-md-4">
      <i class="fa fa-share-alt fa-5x"></i>
      <h2>Share</h2>
      <p>Share your poll via Facebook and invite your friends to vote</p>
    </div>
  </div>
{% endblock %}
