<!DOCTYPE HTML>
<head>
  <meta charset="utf-8">
  <title>Polly</title>
{%load static%}
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'polly/images/apple-touch-icon.png'%}">
<link rel="icon" type="image/png" href="{% static 'polly/images/favicon-32x32.png' %}" sizes="32x32">
<link rel="icon" type="image/png" href="{% static 'polly/images/favicon-16x16.png'%}" sizes="16x16">
<link rel="manifest" href="{% static 'polly/images/manifest.json' %}">
<link rel="mask-icon" href="{% static 'polly/images//safari-pinned-tab.svg' %}" color="#5bbad5">
<meta name="apple-mobile-web-app-title" content="Polly">
<meta name="application-name" content="Polly">
<meta name="theme-color" content="#ffffff">

<link rel='stylesheet' type='text/css' href="{% static 'polly/polly.css'%}">
<!--<link rel='stylesheet' type='text/css' href='polly/polly.css'>
-->
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
  <link rel='stylesheet'  href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>
  <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--  <script type="text/javascript" src="/javascripts/layout.js" charset="utf-8"></script>-->
  <script src="//d3js.org/d3.v4.min.js"></script>
</head>
<html>
<body>


  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class='container-fluid'>
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><img src="{% static 'polly/images/bird_16px.png' %}"></img>&nbsp;Polly</a>
        </div>

        <div class="collapse navbar-collapse" id="MyNavBar">
        <ul class="nav navbar-nav navbar-right">
          <li>

              {% if name %}
              <a href="/profile">Hello, {{name}} </a>
              {% else %}
              <a href="#signinmodal" data-toggle="modal">Sign in</a>
              {% endif %}

          </li>
          <li>
            <a href="/newPoll">New poll</a>
          </li>
          <li>
            <a href="/myPolls" >Polls</a>
          </li>
          <li>
            {% if name %}
              <a href="/users/logout">Logout</a>
            {% else %}
            <a href="/about">About</a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Modal .-->
  <div id="signinmodal" class="modal fade" role=dialog>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>
        <div class="modal-body">
          <div>
            <div role="tabpanel" class="login-tab">
              <!-- Tabs -->
              <ul class="nav nav-tabs">
                <li class="active"><a id="logintaba" href="#logintab" data-toggle="tab">Log in</a></li>
                <li><a id="registertaba" href="#regtab" data-toggle="tab">Register</a></li>
                <li><a id="forgetpasstaba" href="#forgottab" data-toggle="tab">Forgot password</a></li>
              </ul>
              <!-- tab content-->

              <div class="tab-content">
                <div class="tab-pane active" id="logintab">&nbsp;&nbsp;
                  <!--Log in-->
                  <form action="/users/login" method="post" id=login class="thisform">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-user"></i></div>
                        <input type="text" class="form-control" name="username" placeholder="Username" autocomplete="off"/>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                        <input type="password" class="form-control" name="password" placeholder="password"/>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-default" data-loading-text="Signing in..." >Login</button>
                <!--    <p>or</p>


                      <a href="/users/facebook" class="btn btn-primary">Log in with Facebook</a>-->


                    <div class="login-modal-footer">
                      <div class="row">
                        <div class="col-xs-8 col-sm-8 col-md-8">
                          <i class="fa fa-lock"></i>
                          <a href="#" class="forgetpass-tab"> Forgot password? </a>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                          <i class="fa fa-lock"></i>
                          <a href="#" class="signup-tab"> Sign up </a>
                        </div>
                      </div>
                    </div>
                  </form>

                </div>
                <div class="tab-pane" id="regtab">&nbsp;&nbsp;
                  <!--Register-->
                  <form action="/users/register" method="post" id="signup" class="thisform">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-user"></i></div>
                        <input type="text" class="form-control" name="username" placeholder="username" id="reguser" autocomplete="off"/>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-at"></i></div>
                        <input type="text" class="form-control" name="email" placeholder="Email" autocomplete="off"/>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                        <input type="password" class="form-control" name="password" placeholder="password"/>
                      </div>
                    </div>
                    <button class="btn btn-default" data-loading-text="Registering...">Register</button></br>

                    <div class="alert alert-danger"></div>

                    <div class="login-modal-footer">
                      <div class="row">
                        <div class="col-xs-8 col-sm-8 col-md-8">
                          <i class="fa fa-lock"></i>
                          <a href="#" class="forgetpass-tab">Forgot password?</a>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                          <i class="fa fa-check"></i>
                          <a href="#" class="signin-tab">Sign in</a>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>

                <div class="tab-pane" id="forgottab">&nbsp;&nbsp;
                  <!--Forgot password-->
                  <form >
                    <div class="form-group">
                      <p>Doesn't work yet</p>
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-at"></i></div>
                        <input type="text" class="form-control" placeholder="Email"/>
                      </div>
                    </div>
                    <button type="button" class="btn btn-default" data-loading-text="Please wait...">Send</button>
                    <div class="login-modal-footer">
                      <div class="row">
                        <div class="col-xs-8 col-sm-8 col-md-8">
                          <i class="fa fa-lock"></i>
                          <a href="#" class="signin-tab">Sign in</a>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                          <i class="fa fa-check"></i>
                          <a href="#" class="signup-tab">Sign up</a>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>

              </div>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<!-- Modal end -->

<div class="jumbotron">
{% block content %}{% endblock %}
</div>


</body>
