{% extends 'polly/layout.html' %}

{% block content %}

<h1 class="title">{{question}}</h1>

{% if error_message %}
<div class="has_error">
  {{error_message}}
</div>

{% elif form %}
<form method="post">
  {% csrf_token%}
{% for radio in form.option_text%}
<div class="option">
  {{radio}}
</div>
{%endfor%}
<input type=submit value='Submit' class='btn btn-default'/>
</form>

{% else %}

<div class="resultplot">{{result}}
</div>
{%load static%}
<script type="text/javascript" src="{% static 'polly/javascripts/plotPollResults.js' %}"></script>
<script type="text/javascript">
var data=JSON.parse('{{result |safe }}');
plotResults(data)
</script>
{% endif %}

{% endblock %}
